@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

.cursive {
  font-family: "Source Sans Pro", sans-serif;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.video-container {
  height: 600px;
  width: 100%;
  position: relative;
}

.photo-container {
  height: 300px;
  width: 100%;
  position: relative;
}

.video-container video, .photo-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  display: flex;
}

.video-container .caption, .photo-container .caption {
  z-index: 2;
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
}

.darkener {
  height: 100%;
  width: 100%;
  position: inherit;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
}

.zoom {
  overflow: hidden;
}

.zoom img {
  transition: 0.5s all ease-in-out;
  width: 100%;
}

.zoom:hover img {
  transform: scale(1.2);
}

button.dark-mod-off {
  background-color: rgb(96, 211, 96);
}
button.dark-mod-on {
  background-color: rgb(17, 24, 39);
}

span.dark-mod-off {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px, rgba(0, 0, 0, 0.1) 0px 1px 1px;
  transform-origin: 50% 50% 0px;
}
